<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Data Viz</title>
    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>