<!-- Making table for JS file to access -->
<div>
    <table>
        <thead>
        <tr>
            {{#each data.column}}
                <td class="title" data-type="{{this.type}}">{{title}}</td>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each data.row}}
            <tr>
                <td class="name">{{name}}</td>
                <td class="value">{{value}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<!-- Loading JS file -->
<script>
    // Setting up charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart).then(response => {
        console.log(response);
    }).catch(e => {
        console.log(e);
    });

    // Drawing chart
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Mushrooms', 3],
            ['Onions', 1.25],
            ['Olives', 1],
            ['Zucchini', 1],
            ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
            'width':400,
            'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('uriLoc'));
        google.visualization.events.addListener(chart, 'ready', () => {
            let chartUri = chart.getImageURI();
            document.getElementById('uriLoc').innerText = chartUri;
        });
        chart.draw(data, options);
    }
</script>

<!--Div that will hold the pie chart-->
<p id="uriLoc"></p>
